:root {
    --color-primary: #ffffff;
    --color-secondary: #3B82F6; /* biru medium untuk header/footer */
    --color-accent: #60A5FA;    /* biru lembut untuk hover/tombol */
    --color-text: #4aa3fc;      /* abu-abu tua untuk teks, nyaman dibaca */
}

a {
    line-height: 0;
}

body {
    margin: 0;

    color: var(--color-text);

    font-family: sans-serif;

}

.container {
    display: flex;
    flex-direction: column;

    background-color: var(--color-primary);

    min-height: 100vh;

    justify-content: space-between;
}

header {
    height: 15%;
    background-color: var(--color-secondary);

    display: flex;

    justify-content: space-between;
    align-items: center;

    color: white;
}

.title {
    margin: 0;

    margin-left: 10px;
    transition: scale 0.15s;

    cursor: pointer;
}

.title:hover {
    scale: 1.1;
}

.head-section {
    display: flex;

    gap: 10px;

    margin-right: 35px;
}

.head-section p {
    cursor: pointer;
}

.head-section p:hover {
    text-decoration: underline;
}

.content {
    flex-grow: 1;
    align-self: center;
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;

    align-items: center;
    justify-content: center;

    gap: 5px;
    width: 70%;
}

.profile {
    margin-top: 10px;
    width: 13%;
    object-fit: cover;
    
    border-radius: 50%;

    aspect-ratio: 1/1;
    transition: all 0.30s;
}

.profile:hover {
    scale: 1.3;
}

.name {
    margin: 0;

    transition: transform 1s ease-out, color 0.25s;
    cursor: pointer;
}

.name:active {
    transform: translateX(-40px);
}

.name::before {
    content: "_____";
}

.name::after {
    content: "_____";
}

.about-me {
    margin: 0;
    text-align: center;

    transition: all 1s;
}

footer {
    color: white;
    display: flex;
    font-size: 0.8rem;
    font-weight: bold;

    align-items: center;
    justify-content: space-between;

    background-color: var(--color-secondary);
}

.foot-section {
    display: flex;
    width: fit-content;
    height: fit-content;
    gap: 10px;
    align-items: center;

    margin-right: 20px;

    justify-content: end;
}

header {
    border: 1px solid rgba(212, 220, 247, 0.38);

    border-bottom-left-radius: 5px;

    box-shadow: 0px 2px 3px 2px rgba(0, 0, 0, 0.078);
}

footer {
    border: 1px solid rgba(212, 220, 247, 0.38);

    border-top-right-radius: 5px;

    box-shadow: 0px 2px 3px 2px rgba(0, 0, 0, 0.078);
}

header, footer {
    flex-wrap: wrap;
}

@media (min-width: 1024px) {
    .about-me {
        font-size: 1.8rem;
    }

    .profile {
        width: 10%;
    }
}

@media (max-width: 600px) {
    header {
        height: 60px;
        font-size: 0.650rem;

    }

    header p {
        font-size: 0.730rem;
    }

    footer {
        height: 60px;
    }

    .foot-section {
        margin-right: 5px;
    }

    footer *{
        font-size: 0.6rem;
    }

    .head-section {
        margin-right: 10px;
    }

    .profile {
        width: 20%;
    }
}

.foot-section a::selection{
    background-color: transparent;
}

.instagram {
    width: 30px;
    height: 36px;
}

.facebook {
    width: 30px;
    height: 26px;
}

.github {
    width: 30px;
    height: 28px;
}

.colors {
    color: rgb(243, 57, 57);
}